src/__pycache__
src/ics_sim/__pycache__
src/.idea
src/.idea/
commit/
deployments/traffic.pcap
deployments/push-attacker-docker.sh
deployments/push-ics-docker.sh
.idea
.idea/
src/logs/*
!src/logs/attack-logs/
src/logs/attack-logs/*
!src/logs/attack-logs/.gitignore
src/storage/*
!src/storage/.gitignore


